.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.carousel { padding-bottom: 2rem; }
.swiper-button-next,
.swiper-button-prev { color:#d18f00; }
.swiper-pagination-bullet-active { background:#d18f00; }


